main {
	.order-page {
		color: black;
		width: 90%;
		margin-left: auto;
		margin-right: auto;

		.back-btn {
			margin-bottom: 20px;
			button {
				@include btn;
				color: white;
				background-color: $secondaryColor;
				border-radius: 5px;
				&:hover {
					animation: btnBlueToBlack forwards 150ms;
				}
			}
		}
		.order-wrapper-flex {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			@media screen and (max-width: 1024px) {
				display: block;
			}
			// components/cart.scss
		}
	}
}

@include btnBlueToBlack;
