.payment-container {
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: lighten($color: $tertiaireColor, $amount: 60);
	border-radius: 15px;
	border: 1px solid lighten($color: $tertiaireColor, $amount: 40);
	width: 60%;
	@media screen and (max-width: 1024px) {
		width: 100%;
	}
	.loader-container {
		display: flex;
		justify-content: center;
		&.hide {
			display: none;
		}
		.lds-ring {
			display: inline-block;
			position: relative;
			width: 80px;
			height: 80px;
		}
		.lds-ring div {
			box-sizing: border-box;
			display: block;
			position: absolute;
			width: 64px;
			height: 64px;
			margin: 8px;
			border: 8px solid #fff;
			border-radius: 50%;
			animation: lds-ring 1200ms cubic-bezier(0.5, 0, 0.5, 1) infinite;
			border-color: $secondaryColor transparent transparent transparent;
		}
		.lds-ring div:nth-child(1) {
			animation-delay: -0.45s;
		}
		.lds-ring div:nth-child(2) {
			animation-delay: -0.3s;
		}
		.lds-ring div:nth-child(3) {
			animation-delay: -0.15s;
		}
		@keyframes lds-ring {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
	}
	&.locked {
		opacity: 0.8;
		background-color: lighten($color: $tertiaireColor, $amount: 55);

		.payment-header {
			border-radius: inherit;
			background-color: inherit;
			margin-bottom: 0;
		}
		.payment-form {
			display: none;
		}
	}
	.payment-header {
		border-radius: 15px 15px 0 0;
		background-color: $primaryColor;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-bottom: 20px;

		h1 {
			margin-left: 15px;
			color: $secondaryColor;
			font-size: 1.4rem;
		}
		span {
			color: $primaryColor;
			text-align: center;
			background-color: $secondaryColor;
			border: 5px solid white;
			padding-left: 10px;
			padding-right: 10px;
			padding-top: 2px;
			padding-bottom: 2px;
			border-radius: 50%;
			display: inline-block;
		}
	}
	.payment-form {
		padding: 15px;
		form {
			min-width: 280px;
			&.hide {
				display: none;
			}
		}

		#payment-message {
			margin-top: 10px;
			color: $tertiaireColor;
		}
	}
}
