.recap-container {
	position: relative;
	transition: top 0.2s ease-out;
	align-self: flex-start;
	width: 30%;
	background-color: lighten($color: $tertiaireColor, $amount: 60);
	border-radius: 15px;
	border: 1px solid lighten($color: $tertiaireColor, $amount: 40);
	&.fixed-bottom {
		position: fixed;
		z-index: 999;
		width: 100%;
		bottom: 0;
		left: 0;
		text-align: center;
		display: block;
	}

	.recap-header {
		border-radius: 15px 15px 0 0;
		background-color: $primaryColor;
		padding-top: 5px;
		padding-bottom: 5px;

		h1 {
			margin-left: 15px;
			font-size: 1.4rem;
			color: $secondaryColor;
			@media screen and (max-width: 1024px) {
				font-size: 1.1rem;
			}
		}
	}
	.recap-content {
		padding: 10px;
		.recap-phone {
			@media screen and (min-width: 1024px) {
				display: none;
			}
			img {
				margin-bottom: -10px;
				width: 20px;
				filter: invert(11%) sepia(34%) saturate(0%) hue-rotate(215deg)
					brightness(99%) contrast(80%);
				&.open {
					transform: rotate(180deg);
					transition: all 250ms linear;
					// animation: carretRotate 250ms forwards;
				}
				&.close {
					transform: rotate(360deg);
					transition: all 250ms linear;
					// animation: carretRotateDown 250ms forwards;
				}
			}
		}
		.recap-desktop {
			@media screen and (max-width: 1024px) {
				display: none;
			}
		}
		.recap-list {
			h2 {
				font-size: 1.2rem;
				font-weight: 600;
			}
			ul {
				margin: 0;
				padding: 0;
				li {
					list-style: none;
					span {
						color: $secondaryColor;
					}
				}
				li:nth-child(n):not(:last-child) {
					margin-bottom: 10px;
				}
			}
		}
	}
	.recap-footer {
		border-top: 2px solid #d0d0d0;
		margin-top: -10px;
		padding: 10px;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		button {
			@include btn;
			border-radius: 5px;
			background-color: $secondaryColor;
			color: white;
			&:hover {
				animation: btnBlueToBlack forwards 150ms;
			}

			&.locked {
				@include btn;
				border-radius: 5px;
				background-color: lighten($color: $tertiaireColor, $amount: 20);
				color: white;
				cursor: default;
				&:hover {
					animation: inherit;
				}
			}
		}
	}
}

@keyframes carretRotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(180deg);
	}
}
@keyframes carretRotateDown {
	from {
		transform: rotate(180deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@include btnBlueToBlack;
